extends ../shared/layout.pug

block content
  h1= title
  if(title === 'KPSmart - Restricted Access')
    each val in feedback
      br
      text= val

    p
      a(
        href='/'
      ) Home
  else
    include ../shared/login_info.pug
    include ../shared/nav.pug
    each val in feedback
      br
      text= val
